<div class="space">
  <div class="headline mb-5">
    <h1>Contact Me</h1>
  </div>
  
  <form action="#">
    <div class="formtitle">
      <h1>Lets Work together</h1>
    </div>
    <div>
      <label for="subject">Subject</label>
      <input type="text" name="subject" id="subject" placeholder="Service Request / Complain / Information">
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="xyz@example.com">
    </div>

    <div>
      <label for="message">Message</label>
      <textarea name="message" id="message" placeholder="Hi, My name is..."></textarea>
    </div>

    <div class="send-msg">
      <button type="reset">Clear</button>
      <button type="submit">Send</button>
    </div>
  </form>
  <div class="subheadline">
    <h2><i class="fas fa-warning text-yellow-400"></i> Notice</h2>
    <p>I will reply within the next 3 working days latest</p>
  </div>
</div>