<div class="space">
  <div class="headline mb-5">
    <h1>Used Frameworks</h1>
    <p>The following are the web front end software/tools I learned this past 3 yesrs. To each frame work is attached a link of to a project on my github account. </p>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div id="frmwork" class="frmwork react-fw">
      <img src="/assets/img/react.png" alt="reactjs">
      <div class="body">
        <h4>Reactjs</h4>
        <div class="atributes">
          <ul>
            <li><p>UI/UX</p><div><div class="pr1"></div>70%</div></li>
            <li><p>Logic</p><div><div class="pr2"></div>90%</div></li>
            <li><p>Libraries</p><div><div class="pr3"></div>50%</div></li>
            <li><p>Consistency</p><div><div class="pr4"></div>90%</div></li>
          </ul>
          <div class="bottom-text">
            <h2>Web Front-End Development tool</h2>
            <p>Projects <span>asfront</span><span>jobsearch</span></p>
          </div>
        </div>
      </div>
    </div>

    <div id="frmwork" class="frmwork nodejs-fw">
      <img src="/assets/img/nodejs.png" alt="nodejs">
      <div class="body">
        <h4>Nodejs</h4>
        <div class="atributes">
          <ul>
            <li><p>Logic</p><div><div class="pr1"></div>80%</div></li>
            <li><p>Libraries</p><div><div class="pr2"></div>80%</div></li>
            <li><p>API</p><div><div class="pr3"></div>70%</div></li>
            <li><p>Micro Service</p><div><div class="pr4"></div>65%</div></li>
          </ul>
          <div class="bottom-text">
            <h2>Web Front-End Development tool</h2>
            <p>Projects <span>asfront</span><span>jobsearch</span></p>
          </div>
        </div>
      </div>
    </div>

    <div id="frmwork" class="frmwork laravel-fw">
      <img src="/assets/img/laravel.webp" alt="laravel">
      <div class="body">
        <h4>Laravel</h4>
        <div class="atributes">
          <ul>
            <li><p>MVC</p><div><div class="pr1"></div>60%</div></li>
            <li><p>Database</p><div><div class="pr2"></div>85%</div></li>
            <li><p>Security</p><div><div class="pr3"></div>53%</div></li>
            <li><p>API</p><div><div class="pr4"></div>90%</div></li>
          </ul>
          <div class="bottom-text">
            <h2>Web Front-End Development tool</h2>
            <p>Projects <span><a href="#">eatOrbit</a></span></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>