<script>

</script>

<style>
  @keyframes big {
    from {
      stroke-dashoffset: 326.56;
    }
    to {
      stroke-dashoffset: 60;
    }
  }

  @keyframes big-r {
    from {
      stroke-dashoffset: 60;
    }
    to {
      stroke-dashoffset: 326.56;
    }
  }

  /*css*/
  
  @keyframes bigcss {
    from {
      stroke-dashoffset: 346.56;
    }
    to {
      stroke-dashoffset: 60;
    }
  }

  @keyframes bigcss-r {
    from {
      stroke-dashoffset: 60;
    }
    to {
      stroke-dashoffset: 346.56;
    }
  }

  @keyframes bigpy {
    from {
      stroke-dashoffset: 300.56;
    }
    to {
      stroke-dashoffset: 60;
    }
  }

  @keyframes bigpy-r {
    from {
      stroke-dashoffset: 60;
    }
    to {
      stroke-dashoffset: 300.56;
    }
  }

  @keyframes bigjv {
    from {
      stroke-dashoffset: 295.56;
    }
    to {
      stroke-dashoffset: 60;
    }
  }

  @keyframes bigjv-r {
    from {
      stroke-dashoffset: 60;
    }
    to {
      stroke-dashoffset: 295.56;
    }
  }

  @keyframes one {
    from {
      stroke-dashoffset: 232.36;
    }
    to {
      stroke-dashoffset: 80;
    }
  }

  @keyframes one-r {
    from {
      stroke-dashoffset: 80;
    }
    to {
      stroke-dashoffset: 232.36;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

</style>

<div id="frame">
  <div class="headline mb-5">
    <h1>My Programming Languages</h1>
    <p>In this section I present to you the verious programming languages with which I have happened to work. I tried as much as possible to give ditails about each of them. to obtain more ditails about my progrss on a language u</p>
  </div>
  
  <div id="skgrid" class="flex flex-wrap">

    <div id="js-card" class="all">
      <div class="mastery">
        <div class="circle-big">
          <div class="text">
            JS<div class="small">90%</div>
          </div>
          <svg>
            <circle class="bg" cx="57" cy="57" r="52"></circle>
            <circle class="progress" cx="57" cy="57" r="52"></circle>
          </svg>
        </div>
        <div class="jsdesc">
          <h2>JavaScript</h2>
          <ul>
            <li>Advanced profi</li>
            <li>Certified</li>
            <li>3+ years</li>
          </ul>
        </div>
      </div>
      <div class="framework">
        <h3 id="reactjs">React.js</h3>
        <h3 id="angular">Angular.js</h3>
        <h3 id="nodejs">Node.js</h3>
      </div>
    </div>
    
    <div id="css-card" class="all">
      <div class="mastery">
        <div class="circle-big">
          <div class="text">
            CSS<div class="small">95%</div>
          </div>
          <svg>
            <circle class="bg" cx="57" cy="57" r="52"></circle>
            <circle class="progress" cx="57" cy="57" r="52"></circle>
          </svg>
        </div>
        <div class="jsdesc">
          <h2>Casscading</h2>
          <ul>
            <li>Advanced profi</li>
            <li>Certified</li>
            <li>3+ years</li>
          </ul>
        </div>
      </div>
      <div class="framework">
        <h3 id="reactjs">Bootsrap</h3>
        <h3 id="angular">TailwindCss</h3>
      </div>
    </div>

    <div id="html-card" class="all">
      <div class="mastery">
        <div class="circle-big">
          <div class="text">
            Html<div class="small">97%</div>
          </div>
          <svg>
            <circle class="bg" cx="57" cy="57" r="52"></circle>
            <circle class="progress" cx="57" cy="57" r="52"></circle>
          </svg>
        </div>
        <div class="jsdesc">
          <h2>Hypertext</h2>
          <ul>
            <li>Advanced profi</li>
            <li>Certified</li>
            <li>3+ years</li>
          </ul>
        </div>
      </div>
      <div class="framework">
        <h3 id="basic">Basic websites</h3>
      </div>
    </div>

    <div id="python-card" class="all">
      <div class="mastery">
        <div class="circle-big">
          <div class="text">
            Python<div class="small">80%</div>
          </div>
          <svg>
            <circle class="bg" cx="57" cy="57" r="52"></circle>
            <circle class="progress" cx="57" cy="57" r="52"></circle>
          </svg>
        </div>
        <div class="jsdesc">
          <h2>Python Lang</h2>
          <ul>
            <li>Advanced profi</li>
            <li>Certified</li>
            <li>3+ years</li>
          </ul>
        </div>
      </div>
      <div class="framework">
        <h3 id="django">Django</h3>
        <h3 id="odoo">Odoo</h3>
      </div>
    </div>

    <div id="java-card" class="all">
      <div class="mastery">
        <div class="circle-big">
          <div class="text">
            JAVA<div class="small">79%</div>
          </div>
          <svg>
            <circle class="bg" cx="57" cy="57" r="52"></circle>
            <circle class="progress" cx="57" cy="57" r="52"></circle>
          </svg>
        </div>
        <div class="jsdesc">
          <h2>Java Language</h2>
          <ul>
            <li>Advanced profi</li>
            <li>Certified</li>
            <li>3+ years</li>
          </ul>
        </div>
      </div>
      <div class="framework">
        <h3 id="netbeans">Netbeans</h3>
        <h3 id="javafx">Javafx</h3>
      </div>
    </div>

  </div>
</div>
