<div class="space">
  <div class="headline mb-5">
    <h1>Projects</h1>
    <p>The following section will give you an overview of the projects I have been working on. They can be found on my git account and you may verify using the link to the project located below the description. Also I will verymuch apreciate a feed back on git concerning my projects, thank you.</p>
  </div>
  <div class="subheadline">
    <h2>Web Development</h2>
  </div>
  <div>
    <div class="project">
      <div class="project-ov">
        <img src="#" alt="#">
      </div>
      <div class="project-desc flex flex-col align-baseline">
        <h2>Jobsearch</h2>
        <div class="flex flex-col align-baseline">
          <p>
            <span>date</span>
            <span>23.04.2023 - 25.11.2023</span>
          </p>
          <div class="flex gap-4">
            <div>reactjs</div>
            <div>tailwindcss</div>
          </div>
          <div>
            <p>Job search is a web app that provides jobs for individuals of a particular locality. These jobs may be logterm or short term job opportunities, and my be prposed by individuals of that comunity or companies.</p>
          </div>
        </div>
        <a href="#">Visit website</a>
      </div>
    </div>

    <div class="project">
      <div class="project-ov">
        <img src="#" alt="#">
      </div>
      <div class="project-desc flex flex-col align-baseline">
        <h2>EatOrbit</h2>
        <div class="flex flex-col align-baseline">
          <p>
            <span>date</span>
            <span>23.04.2023 - 25.11.2023</span>
          </p>
          <div class="flex gap-4">
            <div>Laravel</div>
            <div>css</div>
          </div>
          <div>
            <p>Job search is a web app that provides jobs for individuals of a particular locality. These jobs may be logterm or short term job opportunities, and my be prposed by individuals of that comunity or companies.</p>
          </div>
        </div>
        <a href="#">Visit website</a>
      </div>
    </div>

    <div class="project">
      <div class="project-ov">
        <img src="#" alt="#">
      </div>
      <div class="project-desc flex flex-col align-baseline">
        <h2>Africa Systems landing page</h2>
        <div class="flex flex-col align-baseline">
          <p>
            <span>date</span>
            <span>23.04.2023 - 25.11.2023</span>
          </p>
          <div class="flex gap-4">
            <div>reactjs</div>
            <div>tailwindcss</div>
          </div>
          <div>
            <p>Job search is a web app that provides jobs for individuals of a particular locality. These jobs may be logterm or short term job opportunities, and my be prposed by individuals of that comunity or companies.</p>
          </div>
        </div>
        <a href="#">Visit website</a>
      </div>
    </div>
  </div>
</div>