<div class="space">
  <div class="headline mb-5">
    <h1>Skills</h1>
    <p>In this section I list to you the verious skills I have to put to profite as well as some tools I happened to use, which are not strongly realted to computer science or web development</p>
  </div>
  <div class="flex flex-wrap gap-4 skill-items">
    <div><img src="/assets/img/skills/figma.png" alt="figma"><h2>figma</h2></div>
    <div><img src="/assets/img/skills/blender.png" alt="Blender"><h2>Blender</h2></div>
    <div><img src="/assets/img/skills/mysql.jpg" alt="Mysql"><h2>Mysql</h2></div>
    <div><img src="/assets/img/skills/sass.png" alt="Sass"><h2>Sass</h2></div>
    <div><img src="/assets/img/skills/jQuery.jpg" alt="jQuery"><h2>jQuery</h2></div>
    <div><img src="#" alt="tailwindcss"><h2>tailwindcss</h2></div>
    <div><img src="#" alt="linux"><h2>linux</h2></div>
    <div><img src="#" alt="modelio"><h2>modelio</h2></div>
    <div><img src="/assets/img/skills/latex.jpg" alt="Latex"><h2>Latex</h2></div>
    <div><img src="#" alt="bash"><h2>bash</h2></div>
    <div><i class="fas fa-clock" aria-hidden="true"></i><h2>Puctual</h2></div>
    <div><i class="fas fa-gears"></i><h2>Consistent</h2></div>
  </div>
</div>