<div id="intro">
  <header id="Home-header">
    <h1>Hi, Welcome to my portfolio</h1>
  </header>
  <div id="about">
    <h2>About me</h2>
    <p>My Name is <strong id="My-Name">Nguezet Kenfack Jordan Junior</strong> and I'm a cameroonian from Africa, I growe up in the western regions and complited my Bachelors at the University of Dschang</p>
    
    <p>At the time I am writing this I am working as a junior web developer in a software development company <em><a href="#">Africa Systems</a></em>. I just had my bachelors degree in computer sciences and am now looking for better job oportunities</p>
    <p>I will describe myself as a self though web developer as most of what I learned was on my own 😉. I prefre working with a lively and interactive team of developers of all ages, considering the fact that I still have much to learn. <strong>Download my resume for more info</strong></p>
  </div> 
  
  <div id="downloadCV">
    <button>Resume <i class="fa fa-download" aria-hidden="true"></i></button>
  </div>
</div>
<div id="right-intro">
  <div id="card1">
    <h3>this month</h3>
    <div>
      <h4>49</h4> <p>views</p>
    </div>
    <div class="total">
      <p>Total</p> <h4>1004</h4>
    </div>
  </div>

  <div id="card2">
    <h3>Rate my Portfolio</h3>
    <div>
      <p>🤗 v.good</p>
      <p>😉 good</p>
      <p>😐 neutral</p>
      <p>😕 improve</p>
      <p>🤕 Bad</p>
    </div>
  </div>
</div>

