@font-face {
  font-display: swap;
  font-family: 'comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/comfortaa-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'convergence';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/convergence-v15-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/anton-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Astloch';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/astloch-v26-latin-regular.woff2') format('woff2');
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'comfortaa';
  background-image: url('/assets/img/background2.jpg');
  background-size: cover;
  color: white;
}

$link-color1: #6af578;
$link-color2: #11941e;
$gray: #3f4041;
$shrink: 6px;
$pdg: 4px;
$border-radius-in: 10px;
$border-radius-out: 12.5px;
$hover-txt: white;
$hover-txt2: #11941e;

#header{
  height: 100%;
}

body{
  background-color: azure;
  height: 100%;
  // margin: -6px 0 0 0 !important;
}

.divider{
  width: 200px;
  margin: 0 auto;
  border: solid #cdcdd2 1px;
}

#logo{
  border-radius: 15%;
  width: 200px;
  height: 200px;
  margin: 8px;
  background-color: $gray;
  transition-duration: 0.5s;

}

#logo:hover{
  scale: 1.1;
  transform: translate(0px,12px);
  rotate: 3deg;
  transition-duration: 0.5s;
}

#links,#options{
  padding: 8px 4px;
  ul{
    list-style: none;

    li{
      border-radius: $border-radius-out;
      padding: 2px $shrink;
      margin: 0 20px;
      a{
        display: flex;
        align-items: center;
        gap: 5px;
        p{
          padding: $pdg;
          width: 60%;
        };
        i{
          width: 10%;
        };
      };
    };

    li:hover{
      background-color: $link-color1;
      padding: $shrink;
      border-radius: $border-radius-out;
      p{
        padding: $pdg;
        background-color: $link-color2;
        border-radius: $border-radius-in;
        color: $hover-txt;
      };
      i{
        color: $hover-txt2;
      }
    };

    li{
      transition-duration: 1s;
    };
    li:hover{
      transition-duration: 1s;
    };


    li{
      p{
        transition-duration: 0.5s !important;
      }
    };
    li:hover{
      p{
        transition-duration: 0.5s !important;
      }
    };
  }
}

#options{
  ul{
    li{
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

#resume{
  margin: auto;
  width: 200px;
  div{
    margin-top: 4px;
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: solid #8c928c 2px ;
    justify-content: space-between;
    transition-duration: 1s;
  }
  div:hover{
    border-color: $link-color1;
    background-color: $hover-txt2;
    color: $hover-txt;
    transition-duration: 1s;
  }
}

$cliked-color1: #323539;
$cliked-color2: #d5dbe0;

.active{
  color: white;
  background-color: #b1b5b9;
  i{
    color: $cliked-color2;
  }
  p{
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
    background-color: $cliked-color1;
  }
}

.selected{
  background-color: black;
}

#main{
  width: 100%;
  padding: 20px;
}

.mycontainer{
  margin-left: 280px;
  display: flex;
  flex-direction: column;
}

#intro{
  max-width: 700px;
  margin: 0 20px;
}

#Home-header{
  font-family: 'convergence';
  font-weight: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  h1{
    font-size: 6rem;
    text-shadow: 4px 4px 4px #8c928c;
  }
}

#welcom{
  h2{
    font-family: 'convergence';
    font-size: 3rem;
    font-weight: 600;
  }
}

#downloadCV{
  width: 100%;
  button{
    padding: 4px 8px;
    margin: 14px 0;
    background-color:#8c928c;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    transition-duration: 1s;
  };
  button:hover{
    background-color: $link-color1;
    color: black;
  }
}

#about{
  text-align: justify;
}

#right-intro{
  border-left: solid #c8cccf 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 auto;
  width: 100%;
}

#card1,#card2{
  box-shadow: 4px 4px 18px #30ffd6c1;
  width: 250px;
  height: fit-content;
  margin: 10px 20px;
  background-color: #afd104;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-family: convergence;
    font-size: 30px;
    font-weight: 500px;
  }
  div{
    display: flex;
    align-items:baseline;
    h4{
      font-size: 50px;
    }
    p{
      font-size: 25px;
    }
  }
}
.total{
  background-color: #323539;
  color: white;
  padding: 2px 8px;
  border-radius: 15px;
  h4{
    font-size: 30px !important;
    margin-left: 8px;
  }
}

#card2{
  div{
    display: flex;
    flex-direction: column;
  }
}

// languages
#skgrid{
  gap: 1rem;

}

#languages{
  border-top: solid #b1b5b9 1px;
  padding-top: 40px;
  margin-top: 40px;
  #frame{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 20px;
  }
}


@media (min-width: 1060px) {
  #welcom{
    flex-direction: row;
  }
}

@media (max-width: 1060px){
  #right-intro{
    border: none;
    flex-direction: row;
  }
}

.circle-small {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 20px;
  svg {
    width: 80px;
    height: 80px;
  }
  .bg {
    fill: none;
    stroke-width: 1px;
    stroke: rgba(53, 48, 54, 0.5);
  }
  .text {
    position: absolute;
    width: 100%;
    top: 26px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
  }
  .progress {
    fill: none;
    stroke-width: 6px;
    stroke: #9a0fe0;
    stroke-linecap: round;
    stroke-dasharray: 232.36;
    stroke-dashoffset: 232.36;
    animation: one-r 1s ease-in-out, disappear 2s;
  }
}

.circle-small:hover .progress.one {
  stroke-dasharray: 232.36;    stroke-dashoffset: 80;
  animation: one 2s ease-in-out, appear 2s;
}

// general set
#skgrid{
  .all{
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    text-align: justify;
    .progress{
      fill:none;
      stroke-width: 10px;
      stroke-linecap: round;
      animation: big-r 1.5s ease-in-out, disappear 1.5s;
      transition-duration: 1s;
    }
    .circle-big,.text{
      scale: 1.5;
      transition-duration: 1s;
    }
    .mastery{
      display: flex;
      align-items: center;
      transition-duration: 5s;
      h2{
        font-size: 1.5rem;
        font-weight: 900;
      }
      li{
        margin-left: 12px;
        list-style: circle;
        font-size: 12px;
      }
    }
    .framework{
      animation: apear-framw-r 1s ease-in-out;
      animation-fill-mode: forwards;
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 2px;
      h3{
        border-radius: 15px;
        padding: 0 5px;
      }
    }
    .circle-big {
      position: relative;
      width: 114px;
      height: 114px;
      margin: 30px auto 25px auto;
      svg {
        width: 114px;
        height: 114px;
      }
      .bg {
        fill: none;
        stroke-width: 1px;
        stroke-dashoffset: 60;
      }
      .text {
        position: absolute;
        width: 100%;
        top: 37px;
        font-size: 24px;
        text-align: center;
        font-weight: 400;
        line-height: 22px;
        .small {
          font-size: 14px;
        }
      }
    }
  }
}

// js

#js-card{
  background-color: rgba(199, 239, 37, 0.558);
  .progress{
    stroke-dasharray: 326.56;
    stroke-dashoffset: 326.56;
  }
  .bg,.progress{
    stroke: #ffff00;
  }
  .small{
    color: rgb(148, 143, 8);
  }
  .mastery{
    
    .jsdesc{
      animation: apear-desc-r 1s ease-in-out;
      animation-fill-mode:forwards;
    }
  }
  .framework{
    #reactjs{
      background-color: rgba(80, 201, 231, 0.732);
    }
    #angular{
      background-color: #fa2d2db8;
    }
    #nodejs{
      background-color: #30ba3ea2;
    }
  }
  .circle-big {
    .bg {
      stroke: rgba(206, 214, 64, 0.5);
      stroke-dashoffset: 60;
    }
  }
}

#js-card:hover{
  .jsdesc{
    display: block;
    animation: apear-desc 1s ease-in-out;
  }
  .framework{
    display: flex;
    animation-fill-mode:forwards;
    animation: apear-framw 1s ease-in-out;
  }
  .circle-big,.text{
    scale: 1;
    transition-duration: 2s;
  }
  .circle-big .progress {
    fill: none;
    stroke-dashoffset: 60;
    animation: big 1.5s ease-in-out, appear 1.5s;
  }
}

// css

#css-card{
  background-color: rgba(37, 81, 239, 0.558);
  .progress{
    stroke-dasharray: 346.56;
    stroke-dashoffset: 346.56;
  }
  .bg,.progress{
    stroke: #0051ff;
  }
  .small{
    color: rgb(11, 23, 255);
  }
  .mastery{
    
    .jsdesc{
      animation: apear-desc-r 1s ease-in-out;
      animation-fill-mode:forwards;
    }
  }
  .framework{
    #reactjs{
      background-color: rgba(80, 201, 231, 0.732);
    }
    #angular{
      background-color: #fa2d2db8;
    }
    #nodejs{
      background-color: #30ba3ea2;
    }
  }
  .circle-big {
    .bg {
      stroke: rgba(23, 23, 235, 0.5);
    }
  }
}

#css-card:hover{
  .jsdesc{
    display: block;
    animation: apear-desc 1s ease-in-out;
  }
  .framework{
    display: flex;
    animation-fill-mode:forwards;
    animation: apear-framw 1s ease-in-out;
  }
  .circle-big,.text{
    scale: 1;
    transition-duration: 2s;
  }
  .circle-big .progress {
    fill: none;
    stroke-dashoffset: 60;
    animation: big 1.5s ease-in-out, appear 1.5s;
  }
}

// HTML

#html-card{
  background-color: rgba(207, 113, 20, 0.558);
  .progress{
    stroke-dasharray: 366.56;
    stroke-dashoffset: 366.56;
  }
  .bg,.progress{
    stroke: #ffa200;
  }
  .small{
    color: rgb(125, 88, 12);
  }
  .mastery{
    
    .jsdesc{
      animation: apear-desc-r 1s ease-in-out;
      animation-fill-mode:forwards;
    }
  }
  .framework{
    #basic{
      background-color: rgba(17, 95, 203, 0.732);
    }
  }
  .circle-big {
    .bg {
      stroke: rgba(235, 150, 23, 0.5);
    }
  }
}

#html-card:hover{
  .jsdesc{
    display: block;
    animation: apear-desc 1s ease-in-out;
  }
  .framework{
    display: flex;
    animation-fill-mode:forwards;
    animation: apear-framw 1s ease-in-out;
  }
  .circle-big,.text{
    scale: 1;
    transition-duration: 2s;
  }
  .circle-big .progress {
    fill: none;
    stroke-dashoffset: 60;
    animation: big 1.5s ease-in-out, appear 1.5s;
  }
}

// Python

#python-card{
  background-color: rgba(61, 47, 251, 0.558);
  .progress{
    stroke-dasharray: 300.56;
    stroke-dashoffset: 300.56;
  }
  .bg,.progress{
    stroke: #000dff;
  }
  .small{
    color: rgb(11, 23, 255);
  }
  .mastery{
    
    .jsdesc{
      animation: apear-desc-r 1s ease-in-out;
      animation-fill-mode:forwards;
    }
  }
  .framework{
    #django{
      background-color: rgb(7, 196, 23);
    }
    #odoo{
      background-color: rgba(238, 85, 192, 0.506);
    }
  }
  .circle-big {
    .bg {
      stroke: rgba(8, 8, 248, 0.5);
    }
  }
}

#python-card:hover{
  .jsdesc{
    display: block;
    animation: apear-desc 1s ease-in-out;
  }
  .framework{
    display: flex;
    animation-fill-mode:forwards;
    animation: apear-framw 1s ease-in-out;
  }
  .circle-big,.text{
    scale: 1;
    transition-duration: 2s;
  }
  .circle-big .progress {
    fill: none;
    stroke-dashoffset: 60;
    animation: big 1.5s ease-in-out, appear 1.5s;
  }
}

// Java

#java-card{
  background-color: rgba(227, 220, 16, 0.723);
  .progress{
    stroke-dasharray: 295.56;
    stroke-dashoffset: 295.56;
  }
  .bg,.progress{
    stroke: #f2ff00;
  }
  .small{
    color: rgb(141, 128, 12);
  }
  .mastery{
    
    .jsdesc{
      animation: apear-desc-r 1s ease-in-out;
      animation-fill-mode:forwards;
    }
  }
  .framework{
    #netbeans{
      background-color: rgba(4, 142, 201, 0.732);
    }
    #javafx{
      background-color: #faa12db8;
    }
  }
  .circle-big {
    .bg {
      stroke: rgba(137, 135, 11, 0.5);
    }
  }
}

#java-card:hover{
  .jsdesc{
    display: block;
    animation: apear-desc 1s ease-in-out;
  }
  .framework{
    display: flex;
    animation-fill-mode:forwards;
    animation: apear-framw 1s ease-in-out;
  }
  .circle-big,.text{
    scale: 1;
    transition-duration: 2s;
  }
  .circle-big .progress {
    fill: none;
    stroke-dashoffset: 60;
    animation: big 1.5s ease-in-out, appear 1.5s;
  }
}

@keyframes apear-desc{
  0%{
    display: block;
    width: 0;
    opacity: 0;
  }
  50%{
    width: 50%;
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes apear-desc-r{
  0%{
    opacity: 1;
  }
  50%{
    width: 50%;
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    width: 0;
    display: none;
  }
}

@keyframes apear-framw{
  0%{
    display: flex;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes apear-framw-r{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}

// frame works

.space{
  border-top: solid #8c928c 2px;
  margin-top: 40px;
  padding-top: 40px;
  .headline{
    h1{
      font-family: convergence;
      font-size: 3rem;
      font-weight: 800;
    }
  }
  .subheadline{
    h2{
      font-family: convergence;
      font-size: 1.5rem;
      font-weight: 800;
      margin: 10px 0px;
    }
  }
}

.frmwork{
  border: solid white 2px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  min-width: 510px;
  h4{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  img{
    width: 200px;
    border-radius: 50%;
  }
  .body{
    width: 100%;
    .atributes{
      display: flex;
      flex-direction: column;
    }
  }

  .atributes{
    li{
      div{
        background-color: #949ea7;
        width: 100%;
        border-radius: 20px;
        height: 10px;
        padding: 2px;
        display: flex;
        align-items: center;
        transition-duration: 1s;
        div{
          border-radius: 20px;
          height: 100%;
          background-color: #05f11d;
        }
        .pr1{width: 0%;}
        .pr2{width: 0%;}
        .pr3{width: 0%;}
        .pr4{width: 0%;}
      }
    }
    ul li{
      display: flex;
      align-items: center;
      p{
        width: 160px;
      }
    }
    .bottom-text h2{
      background-color: #00c8ff50;
      border-radius: 20px;
      padding: 0 5px;
    }
    .bottom-text{
      span{
        background-color: #f9a930d1;
        border-radius: 20px;
        margin: 0 4px;
        padding: 0 8px;
      }
    }
  }
}

.react-fw:hover{
  background-color: #059ef162;
  border: none;
  transition-duration: 1s;
  .atributes{
    li{
      div{
        transition-duration: 1s;
        .pr1{width: 70%;}
        .pr2{width: 90%;}
        .pr3{width: 50%;}
        .pr4{width: 90%;}
      }
    }
  }
}

.nodejs-fw:hover{
  background-color: #49fc3262;
  border: none;
  transition-duration: 1s;
  .atributes{
    li{
      div{
        transition-duration: 1s;
        .pr1{width: 80%;}
        .pr2{width: 80%;}
        .pr3{width: 70%;}
        .pr4{width: 65%;}
      }
    }
  }
}

.laravel-fw:hover{
  background-color: #ff2d1577;
  border: none;
  transition-duration: 1s;
  .atributes{
    li{
      div{
        transition-duration: 1s;
        .pr1{width: 60%;}
        .pr2{width: 85%;}
        .pr3{width: 53%;}
        .pr4{width: 90%;}
      }
    }
  }
}

// skills

.skill-items{
  div{
    border-radius: 140px 140px 25px 25px;
    padding: 10px;
    transition-duration: 0.5s;
    img,i{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      font-size: 80px;
      text-align: center;
    }
    i{
      padding: 10px 0;
    }
    h2{
      font-family: astloch;
      font-weight: 900;
      font-size: 2rem;
      text-align: center;
      margin-top: 5px;
      border-radius: 10px;
    }
  }
}

.skill-items{
  div:hover{
    background-color: rgba(74, 155, 247, 0.442);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.643);
    scale: 1.1;
    transition-duration: 0.5s;
    h2{
      background-color: rgba(72, 72, 69, 0.29);
      text-shadow: 2px 2px 10px #ffffff;
      animation: poping infinite ease-in-out 1s;
    }
  }
}

@keyframes poping{
  0%{
    scale: 1;
  }
  50%{
    scale: 0.9
  }
  100%{
    scale: 1;
  }
}

// achivement

.achive{
  width: 400px;
  padding: 5px;
  .achive-ov{
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .achive-desc{
    padding: 0 4px;
    h1{
      font-family: convergence;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}

// Projects

.project{
  display: flex;
  margin-bottom: 1.5rem;
  .project-ov{
    width: 400px;
    height: 220px;
    background-color: #059ef162;
    border-radius: 6px;
  }
  .project-desc{
    margin: 0 1rem;
    h2{
      font-family: convergence;
      font-weight: 400;
      font-size: 1.3rem;
    }
    div{
      p{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        font-style: italic;
        max-width: 400px;
        text-align: justify;
      }
    }
    a{
      padding: 2px 8px;
      border-radius: 10px;
      width:fit-content;
      background-color: #0080ff50;
    }
  }
}

form{
  background-color: #0080ff50;
  border-radius: 10px;
  padding: 20px;
  .formtitle{
    text-align: center;
    font-family: convergence;
    font-weight: 800;
    background-color: transparent;
    width: fit-content;
    font-size: 2rem;
    margin: 0 auto;
  }
  div{
    background-color: #32536562;
    border-radius: 20px;
    padding: 20px;
    margin: 1rem 0px;
    display: flex;
    label{
      width: 20%;
      min-width:150xp;
    }
    input{
      width:80%;
      border-radius:10px;
      background-color: #17293262;
      padding: 4px 8px;
    }
    textarea{
      width:80%;
      height: 200px;
      border-radius:10px;
      background-color: #17293262;
      padding: 4px 8px;
    }
  }
  .send-msg{
    justify-content:center;
    gap: 3rem;
    button{
      border-radius: 10px;
      padding: 4px 8px;
      background-color: #17293262;
      font-size: 1.5rem;
    }
  }
}